// 颜色定义规范
$color-white = #ffffff
$color-background = #F5F7FB
$color-line = #EFEFEF
$color-big-background = #FAFAFA
$color-lineCC = #cccccc
$color-blue-4985FC = #4985FC
$color-green-5ee490 = #5ee490

$color-menu-select = #202230
$color-menu-background = #202230
$color-menu-line = #3a3a41
$color-43455C = #43455C
$color-3F4055 = #3F4055
$color-FAFAFA = #FAFAFA
$color-EF705D = #EF705D

$color-text33 = #333
$color-text-66 = #666
$color-text-9d = #9D9D9D
$color-text99 = #999999
$color-textD9 = #D9D9D9

$color-line-E1 = #E1E4E5

$color-disable = rgba(239, 112, 93, .8)
$color-4985FC = #4985FC
$color-ccc = #cccccc

//字体定义规范
$font-size-small10 = 10px
$font-size-small12 = 12px
$font-size-medium14 = 14px
$font-size-medium16 = 16px
$font-size-large18 = 18px
$font-size-large20 = 20px
$font-size-large22 = 22px
$font-money-size46 = 46px

// 字体样式
$fontFamilyRegular = 'PingFangSC-Regular'
$fontFamilyLight = 'PingFangSC-Light'
$fontFamilyMeddle = 'PingFangSC-Medium'
